:root {
    --clr-primary: #1F2937;
    --clr-secondary: #E5E7EB;
    --clr-accent: #3882F6;
    --clr-logo:#F9FAF8;
    --clr-white: #FFF;

    --ff-sans-serif: 'Inter', sans-serif;

    --fs-main:3em;
    --fs-heading:2.25em;
    --fs-logo:1.5em;
    --fs-secondary:1.125em;
    --fw-extra-bold:800;
    --fw-bold:700;
    --fw-light:300;
}

/* General layout and components */ 

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-primary);
    color: var(--clr-logo);
    font-family: var(--ff-sans-serif);
    text-align: center;
}

nav {
    padding: 1em 10vw;
}

footer {
    padding: 2em 10vw;
}

section {
    padding: 5em 10vw;
}


h1 {
    font-size: var(--fs-main);
    font-weight: var(--fw-extra-bold);
}

h2 {
    font-size: var(--fs-heading);
    font-weight: var(--fw-extra-bold);
}

a {
    text-decoration:none;
    color:var(--clr-secondary);
    font-size: var(--fs-secondary);
}

li {
    list-style-type: none;
}

button {
    display:inline-block; 
    background-color: var(--clr-accent);
    color:var(--clr-white);
    font-size: var(--fs-secondary);
    font-weight: var(--fw-bold);
    text-decoration:none;
    padding: 0.5em 2.5em !important;
    border-radius: 0.5em;
    cursor:pointer;
}

p {
    font-size: var(--fs-secondary);
    padding:1em 0;
}

/* Navigation bar */

nav .container {
    display:flex;
    justify-content:space-between;
}


.logo {
    font-size: var(--fs-logo);
    font-weight:var(--fw-bold);
}

.nav-links {
    display:flex;
    gap: 2em;
    justify-content:space-between;
    font-size: var(--fs-secondary);
}

/* Hero section */

.primary-cta-btn {
    border:none;
    margin-bottom:3em;
}

.hero-right img {
    max-width:80vw;
    height:auto;
}

/* Content sections */

.information-section {
    background-color: var(--clr-white);
    color: var(--clr-primary);
}

.information-card {
    max-width: 200px;
    margin: 0 auto;
    padding: 1em 0;
}

.information-card img {
    width: 100px;
    height:auto;
}

.quote-section {
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
}

.quote-section .quote-text {
    font-size: var(--fs-heading);
    font-weight: var(--fw-light);
    font-style: italic;
}

.quote-section .quote-author {
    font-size: var(--fs-secondary);
    font-weight: var(--fw-bold);
    text-align: right;
}

.cta-section {
    background-color: var(--clr-accent);
    color: var(--clr-white);

}

/* Media queries */


@media (min-width: 768px) {

    body {
        text-align: left;
    }

    .hero-section .container {
        display:flex;
        justify-content:space-between;
    }

    .hero-right img {
        max-width:40vw;
        height:auto;
    }

    .information-section,
    footer {
        text-align:center;
    }

    .information-section .container {
        display:flex;
        justify-content:space-around;
        padding-top: 3em;
    }

    .cta-section {
        background-color: var(--clr-white);
        color: var(--clr-primary);
    }

    .cta-section .container {
        background-color: var(--clr-accent);
        color: var(--clr-white);
        display:flex;
        justify-content: space-around;
        padding: 3em 2em;
        border-radius: 0.5em;
    }
   
}
